<!DOCTYPE html>
<head>
	<title>New Star Wars character</title>
	<%= stylesheet_link_tag "main" %>
</head>
<body>
  <h1>Add a new Star Wars character here</h1>
<div class='mainDiv'>
<%= form_for :starwars, url: starwars_path do |f| %>
	<p>
		<div><span class='spanLblField'><%= f.label :name %> : </span><span class='spanTxtField'><%=f.text_field :name%></span></div><br>
		<div><span class='spanLblField'> <%= f.label :race %> : </span><span class='spanTxtField'><%= f.text_field :race%><span></div><br>
		<div><span class='spanLblField'><%= f.label :isOldRepublic , 'Is Old Republic or from The Empire?'%> : </span><span class='spanTxtField'><%= f.text_field :isJedi%><span></div><br>
		<div><span class='spanLblField'><%= f.label :isPadawa , 'Is Padawa or Jedi?'%> : </span> <span class='spanTxtField'><%= f.text_field :isJedi%><span></div><br>
	</p>
	<p>
		<%= f.submit%>
	</p>
<%end%>
</div>
</body>
</html>
